<form #form="ngForm" (ngSubmit)="search()"
    fxLayout="column row">

  <mat-form-field>
    <input type="number" name="custId" placeholder="Customer Id" required
        matInput [(ngModel)]="customer.custId" #custIdField="ngModel">
    <mat-error *ngIf="notFound">
      Customer not found
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="name" placeholder="Name" required
        matInput [(ngModel)]="customer.name">
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="addr1" placeholder="Address 1" required
        matInput [(ngModel)]="customer.addr1">
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="addr2" placeholder="Address 2" required
        matInput [(ngModel)]="customer.addr2">
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="city" placeholder="City" required
        matInput [(ngModel)]="customer.city">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="ZIP/Postal Code" required 
        [(ngModel)]="customer.zip" name="zip">
      <mat-option *ngFor="let z of ZIP" [value]="z">
        {{ z }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="state" placeholder="State (2 characters)" required
        matInput [(ngModel)]="customer.state">
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="phone" placeholder="Phone" required
        matInput [(ngModel)]="customer.phone">
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="fax" placeholder="Fax" required
        matInput [(ngModel)]="customer.fax">
  </mat-form-field>

  <mat-form-field>
    <input type="text" name="email" placeholder="Email" required
        matInput [(ngModel)]="customer.email">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Discount Code" required 
        [(ngModel)]="customer.discount" name="discount">
      <mat-option *ngFor="let d of DISCOUNT_CODE" [value]="d">
        {{ d }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="number" name="credit" placeholder="Credit Limit" min="0"
        matInput [(ngModel)]="customer.credit">
  </mat-form-field>

  <div fxLayout="row column" fxLayoutAlign="space-around">
    <button type="reset" mat-button mat-raised-button color="warn">
      <mat-icon>clear</mat-icon> Clear
    </button>

    <button type="submit" mat-button mat-raised-button color="primary"
        [disabled]="custIdField.invalid">
      <mat-icon>search</mat-icon> Search
    </button>

    <button type="button" mat-button mat-raised-button color="accent"
        [disabled]="form.invalid" (click)="add()">
      <mat-icon>add</mat-icon> Add
    </button>
  </div>

</form>